## 配置选项

In [1]:
import numpy as np
import pandas as pd

pd.set_option('display.max_rows',500)
pd.set_option('display.max_columns',500)
pd.set_option('display.width',1000)
pd.set_option('display.max_colwidth',1000)

## 数据导入导出

In [2]:
df1 = pd.read_csv("data/pcs_users_1.csv", "\t")
df1

                    pkg                              cert    size    users
0        com.tencent.mm  18c867f0717aa67b2ab7347505ba07ed  231234  3790371
1        com.tencent.mm  18c867f0717aa67b2ab7347505ba07ed  238003  7790074
2  com.tencent.mobileqq  a6b745bf24a2c277527716f6f36eb68d  377223  9890073
3  com.tencent.mobileqq  4e3e851c931319a63f2395fa65f126ca  389908       38

In [3]:
df2 = pd.read_csv("data/pcs_users_2.csv", "\t")
df2

                    pkg                              cert    size    users
0        com.tencent.mm  18c867f0717aa67b2ab7347505ba07ed  232009  1210371
1  com.tencent.mobileqq  a6b745bf24a2c277527716f6f36eb68d  377223  9890073

In [4]:
df3 = pd.read_csv("data/pcs_appstore.csv", "\t")
df3

                    pkg                              cert    size appstore
0        com.tencent.mm  18c867f0717aa67b2ab7347505ba07ed  231234  tencent
1        com.tencent.mm  18c867f0717aa67b2ab7347505ba07ed  238003    baidu
2  com.tencent.mobileqq  a6b745bf24a2c277527716f6f36eb68d  377223  tencent
3     com.qihoo.360safe  33abb11bf7e4072cc70cbd034078e72d  556226    qihoo

In [5]:
print(df1.shape), print(df1.shape[0]), print(df1.shape[1])

(4, 4)
4
4

(None, None, None)

## 行列截取

In [6]:
df1[["pkg", "cert", "size"]]

                    pkg                              cert    size
0        com.tencent.mm  18c867f0717aa67b2ab7347505ba07ed  231234
1        com.tencent.mm  18c867f0717aa67b2ab7347505ba07ed  238003
2  com.tencent.mobileqq  a6b745bf24a2c277527716f6f36eb68d  377223
3  com.tencent.mobileqq  4e3e851c931319a63f2395fa65f126ca  389908

In [7]:
df1.loc[1:2]

                    pkg                              cert    size    users
1        com.tencent.mm  18c867f0717aa67b2ab7347505ba07ed  238003  7790074
2  com.tencent.mobileqq  a6b745bf24a2c277527716f6f36eb68d  377223  9890073

In [8]:
df1.iloc[1:2]

              pkg                              cert    size    users
1  com.tencent.mm  18c867f0717aa67b2ab7347505ba07ed  238003  7790074

In [9]:
df1[1:2]

              pkg                              cert    size    users
1  com.tencent.mm  18c867f0717aa67b2ab7347505ba07ed  238003  7790074

In [10]:
df1[1:2][["pkg", "cert"]]

              pkg                              cert
1  com.tencent.mm  18c867f0717aa67b2ab7347505ba07ed

In [11]:
df1.iloc[1:2, 0:2]

              pkg                              cert
1  com.tencent.mm  18c867f0717aa67b2ab7347505ba07ed

In [12]:
df1.loc[1:2, ("pkg", "cert")]

                    pkg                              cert
1        com.tencent.mm  18c867f0717aa67b2ab7347505ba07ed
2  com.tencent.mobileqq  a6b745bf24a2c277527716f6f36eb68d

## 数据拼接

In [13]:
# 拼接
df = df1.append(df2)
df

                    pkg                              cert    size    users
0        com.tencent.mm  18c867f0717aa67b2ab7347505ba07ed  231234  3790371
1        com.tencent.mm  18c867f0717aa67b2ab7347505ba07ed  238003  7790074
2  com.tencent.mobileqq  a6b745bf24a2c277527716f6f36eb68d  377223  9890073
3  com.tencent.mobileqq  4e3e851c931319a63f2395fa65f126ca  389908       38
0        com.tencent.mm  18c867f0717aa67b2ab7347505ba07ed  232009  1210371
1  com.tencent.mobileqq  a6b745bf24a2c277527716f6f36eb68d  377223  9890073

In [14]:
# 拼接
pd.concat([df1, df2])

                    pkg                              cert    size    users
0        com.tencent.mm  18c867f0717aa67b2ab7347505ba07ed  231234  3790371
1        com.tencent.mm  18c867f0717aa67b2ab7347505ba07ed  238003  7790074
2  com.tencent.mobileqq  a6b745bf24a2c277527716f6f36eb68d  377223  9890073
3  com.tencent.mobileqq  4e3e851c931319a63f2395fa65f126ca  389908       38
0        com.tencent.mm  18c867f0717aa67b2ab7347505ba07ed  232009  1210371
1  com.tencent.mobileqq  a6b745bf24a2c277527716f6f36eb68d  377223  9890073

## 去重

In [15]:
# 去重
df = df.drop_duplicates()
df

                    pkg                              cert    size    users
0        com.tencent.mm  18c867f0717aa67b2ab7347505ba07ed  231234  3790371
1        com.tencent.mm  18c867f0717aa67b2ab7347505ba07ed  238003  7790074
2  com.tencent.mobileqq  a6b745bf24a2c277527716f6f36eb68d  377223  9890073
3  com.tencent.mobileqq  4e3e851c931319a63f2395fa65f126ca  389908       38
0        com.tencent.mm  18c867f0717aa67b2ab7347505ba07ed  232009  1210371

In [16]:
# 重置索引（默认会增加"index"列，drop=True则去掉该列）
df = df.reset_index(drop=True)
df

                    pkg                              cert    size    users
0        com.tencent.mm  18c867f0717aa67b2ab7347505ba07ed  231234  3790371
1        com.tencent.mm  18c867f0717aa67b2ab7347505ba07ed  238003  7790074
2  com.tencent.mobileqq  a6b745bf24a2c277527716f6f36eb68d  377223  9890073
3  com.tencent.mobileqq  4e3e851c931319a63f2395fa65f126ca  389908       38
4        com.tencent.mm  18c867f0717aa67b2ab7347505ba07ed  232009  1210371

In [17]:
df.groupby(by="pkg").sum()

                        size     users
pkg
com.tencent.mm        701246  12790816
com.tencent.mobileqq  767131   9890111

In [18]:
df.groupby(by="pkg").count()

                      cert  size  users
pkg
com.tencent.mm           3     3      3
com.tencent.mobileqq     2     2      2

In [19]:
ser = df.groupby(by=["pkg", "cert"]).sum()
ser

                                                         size     users
pkg                  cert
com.tencent.mm       18c867f0717aa67b2ab7347505ba07ed  701246  12790816
com.tencent.mobileqq 4e3e851c931319a63f2395fa65f126ca  389908        38
                     a6b745bf24a2c277527716f6f36eb68d  377223   9890073

In [20]:
ser.loc["com.tencent.mobileqq"]

                                    size    users
cert
4e3e851c931319a63f2395fa65f126ca  389908       38
a6b745bf24a2c277527716f6f36eb68d  377223  9890073

In [21]:
ser.loc["com.tencent.mobileqq", "a6b745bf24a2c277527716f6f36eb68d"]

size      377223
users    9890073
Name: (com.tencent.mobileqq, a6b745bf24a2c277527716f6f36eb68d), dtype: int64

In [22]:
ser.loc["com.tencent.mobileqq", "a6b745bf24a2c277527716f6f36eb68d"]["users"]

9890073

In [23]:
ser = df.groupby(by="pkg")["users"].sum()
ser

pkg
com.tencent.mm          12790816
com.tencent.mobileqq     9890111
Name: users, dtype: int64

In [24]:
ser["com.tencent.mm"]

12790816

In [25]:
# 累计
df.groupby(by="pkg")["users"].describe()

                      count          mean           std        min         25%        50%         75%        max
pkg
com.tencent.mm          3.0  4.263605e+06  3.315281e+06  1210371.0  2500371.00  3790371.0  5790222.50  7790074.0
com.tencent.mobileqq    2.0  4.945056e+06  6.993311e+06       38.0  2472546.75  4945055.5  7417564.25  9890073.0

In [26]:
df.groupby(by="pkg")["users"].describe()[["mean", "std"]]

                              mean           std
pkg
com.tencent.mm        4.263605e+06  3.315281e+06
com.tencent.mobileqq  4.945056e+06  6.993311e+06

In [27]:
# 求交集
df1.merge(df2, how="inner")

                    pkg                              cert    size    users
0  com.tencent.mobileqq  a6b745bf24a2c277527716f6f36eb68d  377223  9890073

In [28]:
# 关联两张不同列的表
df1.merge(df3, on=["pkg", "cert", "size"], how="inner")

                    pkg                              cert    size    users appstore
0        com.tencent.mm  18c867f0717aa67b2ab7347505ba07ed  231234  3790371  tencent
1        com.tencent.mm  18c867f0717aa67b2ab7347505ba07ed  238003  7790074    baidu
2  com.tencent.mobileqq  a6b745bf24a2c277527716f6f36eb68d  377223  9890073  tencent

In [29]:
df1.merge(df3, left_on=["pkg", "cert", "size"], right_on=["pkg", "cert", "size"], how="inner")

                    pkg                              cert    size    users appstore
0        com.tencent.mm  18c867f0717aa67b2ab7347505ba07ed  231234  3790371  tencent
1        com.tencent.mm  18c867f0717aa67b2ab7347505ba07ed  238003  7790074    baidu
2  com.tencent.mobileqq  a6b745bf24a2c277527716f6f36eb68d  377223  9890073  tencent

In [30]:
df1.merge(df3, on=["pkg", "cert", "size"], how="left")

                    pkg                              cert    size    users appstore
0        com.tencent.mm  18c867f0717aa67b2ab7347505ba07ed  231234  3790371  tencent
1        com.tencent.mm  18c867f0717aa67b2ab7347505ba07ed  238003  7790074    baidu
2  com.tencent.mobileqq  a6b745bf24a2c277527716f6f36eb68d  377223  9890073  tencent
3  com.tencent.mobileqq  4e3e851c931319a63f2395fa65f126ca  389908       38      NaN

In [31]:
df1.merge(df3, on=["pkg", "cert", "size"], how="right")

                    pkg                              cert    size      users appstore
0        com.tencent.mm  18c867f0717aa67b2ab7347505ba07ed  231234  3790371.0  tencent
1        com.tencent.mm  18c867f0717aa67b2ab7347505ba07ed  238003  7790074.0    baidu
2  com.tencent.mobileqq  a6b745bf24a2c277527716f6f36eb68d  377223  9890073.0  tencent
3     com.qihoo.360safe  33abb11bf7e4072cc70cbd034078e72d  556226        NaN    qihoo

In [32]:
df13_outer = df1.merge(df3, on=["pkg", "cert", "size"], how="outer")
df13_outer

                    pkg                              cert    size      users appstore
0        com.tencent.mm  18c867f0717aa67b2ab7347505ba07ed  231234  3790371.0  tencent
1        com.tencent.mm  18c867f0717aa67b2ab7347505ba07ed  238003  7790074.0    baidu
2  com.tencent.mobileqq  a6b745bf24a2c277527716f6f36eb68d  377223  9890073.0  tencent
3  com.tencent.mobileqq  4e3e851c931319a63f2395fa65f126ca  389908       38.0      NaN
4     com.qihoo.360safe  33abb11bf7e4072cc70cbd034078e72d  556226        NaN    qihoo

In [33]:
df13_outer.isnull().any()

pkg         False
cert        False
size        False
users        True
appstore     True
dtype: bool

In [34]:
df13_outer[df13_outer.isnull()]

   pkg cert  size  users appstore
0  NaN  NaN   NaN    NaN      NaN
1  NaN  NaN   NaN    NaN      NaN
2  NaN  NaN   NaN    NaN      NaN
3  NaN  NaN   NaN    NaN      NaN
4  NaN  NaN   NaN    NaN      NaN

In [35]:
df13_outer[df13_outer["users"].isnull()]

                 pkg                              cert    size  users appstore
4  com.qihoo.360safe  33abb11bf7e4072cc70cbd034078e72d  556226    NaN    qihoo

In [36]:
df13_outer[df13_outer.notnull()]

                    pkg                              cert    size      users appstore
0        com.tencent.mm  18c867f0717aa67b2ab7347505ba07ed  231234  3790371.0  tencent
1        com.tencent.mm  18c867f0717aa67b2ab7347505ba07ed  238003  7790074.0    baidu
2  com.tencent.mobileqq  a6b745bf24a2c277527716f6f36eb68d  377223  9890073.0  tencent
3  com.tencent.mobileqq  4e3e851c931319a63f2395fa65f126ca  389908       38.0      NaN
4     com.qihoo.360safe  33abb11bf7e4072cc70cbd034078e72d  556226        NaN    qihoo

In [37]:
df13_outer[df13_outer.users.notnull()]

                    pkg                              cert    size      users appstore
0        com.tencent.mm  18c867f0717aa67b2ab7347505ba07ed  231234  3790371.0  tencent
1        com.tencent.mm  18c867f0717aa67b2ab7347505ba07ed  238003  7790074.0    baidu
2  com.tencent.mobileqq  a6b745bf24a2c277527716f6f36eb68d  377223  9890073.0  tencent
3  com.tencent.mobileqq  4e3e851c931319a63f2395fa65f126ca  389908       38.0      NaN

In [38]:
df13_outer.fillna(0)

                    pkg                              cert    size      users appstore
0        com.tencent.mm  18c867f0717aa67b2ab7347505ba07ed  231234  3790371.0  tencent
1        com.tencent.mm  18c867f0717aa67b2ab7347505ba07ed  238003  7790074.0    baidu
2  com.tencent.mobileqq  a6b745bf24a2c277527716f6f36eb68d  377223  9890073.0  tencent
3  com.tencent.mobileqq  4e3e851c931319a63f2395fa65f126ca  389908       38.0        0
4     com.qihoo.360safe  33abb11bf7e4072cc70cbd034078e72d  556226        0.0    qihoo

In [39]:
# 默认会剔除任何包含缺失值的整行数据，how默认是any
# df13_outer.dropna(inplace=True)
df13_outer.dropna()

                    pkg                              cert    size      users appstore
0        com.tencent.mm  18c867f0717aa67b2ab7347505ba07ed  231234  3790371.0  tencent
1        com.tencent.mm  18c867f0717aa67b2ab7347505ba07ed  238003  7790074.0    baidu
2  com.tencent.mobileqq  a6b745bf24a2c277527716f6f36eb68d  377223  9890073.0  tencent

In [40]:
# 剔除全部是缺失值的行或列，
df13_outer.dropna(axis="rows", how="all")
df13_outer.dropna(axis="columns", how="all")
# 指定列为空才删除
df13_outer.dropna(subset=["users"])

                    pkg                              cert    size      users appstore
0        com.tencent.mm  18c867f0717aa67b2ab7347505ba07ed  231234  3790371.0  tencent
1        com.tencent.mm  18c867f0717aa67b2ab7347505ba07ed  238003  7790074.0    baidu
2  com.tencent.mobileqq  a6b745bf24a2c277527716f6f36eb68d  377223  9890073.0  tencent
3  com.tencent.mobileqq  4e3e851c931319a63f2395fa65f126ca  389908       38.0      NaN

In [41]:
df1.aggregate( ["min", "max", "sum"])

                                                                      pkg                                                                                                                              cert     size     users
min                                                        com.tencent.mm                                                                                                  18c867f0717aa67b2ab7347505ba07ed   231234        38
max                                                  com.tencent.mobileqq                                                                                                  a6b745bf24a2c277527716f6f36eb68d   389908   9890073
sum  com.tencent.mmcom.tencent.mmcom.tencent.mobileqqcom.tencent.mobileqq  18c867f0717aa67b2ab7347505ba07ed18c867f0717aa67b2ab7347505ba07eda6b745bf24a2c277527716f6f36eb68d4e3e851c931319a63f2395fa65f126ca  1236368  21470556

In [42]:
df1.aggregate({"users": ["min", "max", "sum"]})

        users
min        38
max   9890073
sum  21470556

In [43]:
df1.aggregate({"cert": "count",  "size": "max", "users": "sum"})

cert            4
size       389908
users    21470556
dtype: int64

In [44]:
df1.groupby("pkg").aggregate({"cert": "count",  "size": "max", "users": np.sum})

                      cert    size     users
pkg
com.tencent.mm           2  238003  11580445
com.tencent.mobileqq     2  389908   9890111

In [45]:
df1.groupby(["pkg", "cert"]).aggregate({"cert": "count",  "size": "max", "users": np.sum})

                                                       cert    size     users
pkg                  cert
com.tencent.mm       18c867f0717aa67b2ab7347505ba07ed     2  238003  11580445
com.tencent.mobileqq 4e3e851c931319a63f2395fa65f126ca     1  389908        38
                     a6b745bf24a2c277527716f6f36eb68d     1  377223   9890073

In [46]:
df1.groupby(["pkg"]).std()

                             size         users
pkg
com.tencent.mm        4786.405802  2.828217e+06
com.tencent.mobileqq  8969.649519  6.993311e+06

In [47]:
def filter_func(x):
    return x["size"].std() > 5000

df1.groupby("pkg").filter(filter_func)

                    pkg                              cert    size    users
2  com.tencent.mobileqq  a6b745bf24a2c277527716f6f36eb68d  377223  9890073
3  com.tencent.mobileqq  4e3e851c931319a63f2395fa65f126ca  389908       38

In [48]:
df1.groupby("pkg").transform(lambda x: x - x.mean())

     size      users
0 -3384.5 -1999851.5
1  3384.5  1999851.5
2 -6342.5  4945017.5
3  6342.5 -4945017.5

In [49]:
def apply_func(x):
    # x是一个分组数据的DataFrame
    x["isTencent"] = x.pkg.str.contains("tencent")
    x["users"] /= x["users"].max()
    return x

df1.groupby("pkg").apply(apply_func)

                    pkg                              cert    size     users  isTencent
0        com.tencent.mm  18c867f0717aa67b2ab7347505ba07ed  231234  0.486564       True
1        com.tencent.mm  18c867f0717aa67b2ab7347505ba07ed  238003  1.000000       True
2  com.tencent.mobileqq  a6b745bf24a2c277527716f6f36eb68d  377223  1.000000       True
3  com.tencent.mobileqq  4e3e851c931319a63f2395fa65f126ca  389908  0.000004       True

In [50]:
df1[df1.pkg.isin(df2.pkg)&df1.cert.isin(df2.cert)&df1["size"].isin(df2["size"])&df1.users.isin(df2.users)]

                    pkg                              cert    size    users
2  com.tencent.mobileqq  a6b745bf24a2c277527716f6f36eb68d  377223  9890073

In [51]:
df1["pcs"] = df1.pkg.str.cat(df1.cert, sep="|").str.cat(df1["size"].astype(str), sep="|")
df1

                    pkg                              cert    size    users                                                           pcs
0        com.tencent.mm  18c867f0717aa67b2ab7347505ba07ed  231234  3790371        com.tencent.mm|18c867f0717aa67b2ab7347505ba07ed|231234
1        com.tencent.mm  18c867f0717aa67b2ab7347505ba07ed  238003  7790074        com.tencent.mm|18c867f0717aa67b2ab7347505ba07ed|238003
2  com.tencent.mobileqq  a6b745bf24a2c277527716f6f36eb68d  377223  9890073  com.tencent.mobileqq|a6b745bf24a2c277527716f6f36eb68d|377223
3  com.tencent.mobileqq  4e3e851c931319a63f2395fa65f126ca  389908       38  com.tencent.mobileqq|4e3e851c931319a63f2395fa65f126ca|389908

In [52]:
df1.pcs.str.split("|", 2)

0          [com.tencent.mm, 18c867f0717aa67b2ab7347505ba07ed, 231234]
1          [com.tencent.mm, 18c867f0717aa67b2ab7347505ba07ed, 238003]
2    [com.tencent.mobileqq, a6b745bf24a2c277527716f6f36eb68d, 377223]
3    [com.tencent.mobileqq, 4e3e851c931319a63f2395fa65f126ca, 389908]
Name: pcs, dtype: object

In [53]:
df1["p"], df1["c"], df1["s"] = df1.pcs.str.split("|", 2).str
df1

                    pkg                              cert    size    users                                                           pcs                     p                                 c       s
0        com.tencent.mm  18c867f0717aa67b2ab7347505ba07ed  231234  3790371        com.tencent.mm|18c867f0717aa67b2ab7347505ba07ed|231234        com.tencent.mm  18c867f0717aa67b2ab7347505ba07ed  231234
1        com.tencent.mm  18c867f0717aa67b2ab7347505ba07ed  238003  7790074        com.tencent.mm|18c867f0717aa67b2ab7347505ba07ed|238003        com.tencent.mm  18c867f0717aa67b2ab7347505ba07ed  238003
2  com.tencent.mobileqq  a6b745bf24a2c277527716f6f36eb68d  377223  9890073  com.tencent.mobileqq|a6b745bf24a2c277527716f6f36eb68d|377223  com.tencent.mobileqq  a6b745bf24a2c277527716f6f36eb68d  377223
3  com.tencent.mobileqq  4e3e851c931319a63f2395fa65f126ca  389908       38  com.tencent.mobileqq|4e3e851c931319a63f2395fa65f126ca|389908  com.tencent.mobileqq  4e3e851c931319a63f2395fa65f126ca  389908

In [54]:
df1["isTencent"] = df1.pkg.str.contains("tencent")
df1

                    pkg                              cert    size    users                                                           pcs                     p                                 c       s  isTencent
0        com.tencent.mm  18c867f0717aa67b2ab7347505ba07ed  231234  3790371        com.tencent.mm|18c867f0717aa67b2ab7347505ba07ed|231234        com.tencent.mm  18c867f0717aa67b2ab7347505ba07ed  231234       True
1        com.tencent.mm  18c867f0717aa67b2ab7347505ba07ed  238003  7790074        com.tencent.mm|18c867f0717aa67b2ab7347505ba07ed|238003        com.tencent.mm  18c867f0717aa67b2ab7347505ba07ed  238003       True
2  com.tencent.mobileqq  a6b745bf24a2c277527716f6f36eb68d  377223  9890073  com.tencent.mobileqq|a6b745bf24a2c277527716f6f36eb68d|377223  com.tencent.mobileqq  a6b745bf24a2c277527716f6f36eb68d  377223       True
3  com.tencent.mobileqq  4e3e851c931319a63f2395fa65f126ca  389908       38  com.tencent.mobileqq|4e3e851c931319a63f2395fa65f126ca|389908  com.tencent.mobileqq  4e3e851c931319a63f2395fa65f126ca  389908       True

In [55]:
# one-hot
df1["pkg"].str.get_dummies(".")

   com  mm  mobileqq  tencent
0    1   1         0        1
1    1   1         0        1
2    1   0         1        1
3    1   0         1        1

In [56]:
df1+df2

    c                                                              cert  isTencent   p  pcs                                 pkg   s      size       users
0 NaN  18c867f0717aa67b2ab7347505ba07ed18c867f0717aa67b2ab7347505ba07ed        NaN NaN  NaN        com.tencent.mmcom.tencent.mm NaN  463243.0   5000742.0
1 NaN  18c867f0717aa67b2ab7347505ba07eda6b745bf24a2c277527716f6f36eb68d        NaN NaN  NaN  com.tencent.mmcom.tencent.mobileqq NaN  615226.0  17680147.0
2 NaN                                                               NaN        NaN NaN  NaN                                 NaN NaN       NaN         NaN
3 NaN                                                               NaN        NaN NaN  NaN                                 NaN NaN       NaN         NaN

In [57]:
df1.drop(columns=["pkg", "users"])

                               cert    size                                                           pcs                     p                                 c       s  isTencent
0  18c867f0717aa67b2ab7347505ba07ed  231234        com.tencent.mm|18c867f0717aa67b2ab7347505ba07ed|231234        com.tencent.mm  18c867f0717aa67b2ab7347505ba07ed  231234       True
1  18c867f0717aa67b2ab7347505ba07ed  238003        com.tencent.mm|18c867f0717aa67b2ab7347505ba07ed|238003        com.tencent.mm  18c867f0717aa67b2ab7347505ba07ed  238003       True
2  a6b745bf24a2c277527716f6f36eb68d  377223  com.tencent.mobileqq|a6b745bf24a2c277527716f6f36eb68d|377223  com.tencent.mobileqq  a6b745bf24a2c277527716f6f36eb68d  377223       True
3  4e3e851c931319a63f2395fa65f126ca  389908  com.tencent.mobileqq|4e3e851c931319a63f2395fa65f126ca|389908  com.tencent.mobileqq  4e3e851c931319a63f2395fa65f126ca  389908       True

In [58]:
[x for x in range(10) if x>5]

[6, 7, 8, 9]